*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;

}
#banner{
  border-radius: 24px;

background: rgb(198, 228, 214);
/* Frame 2087325624 */

width: 1400px;
height: 100vh;
left: 0;
top: 120px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 80;
padding: 0px;


}
.contents ,span{
  /* Bangladesh 2.0 */

width: 622px;
height: 29px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 16;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 16px 0px;
color: rgba(14, 14, 14, 0.5);
font-family: Fira Sans;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
}
.contents h1{
  color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 56px;
font-weight: 700;
line-height: 67px;
letter-spacing: 0%;
text-align: left;
}
.contents button{
  border-radius: 8px;

background: rgb(0, 106, 80);
/* Frame 2 */

width: 270px;
height: 56px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 48;
padding: 17px 34px 17px 34px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 24px 0px;
color: white;
}
#iconBoxmain{
  width: 1400px;
  background-color: #dddd;
  height: 90vh;
  
  

}
#iconBoxmain,h1{
  font-size: 40px;
  padding:  50px;
  text-align: center;
}
.iconbox{
float: left;
  width: 300px;
  border: 1px solid rgb(153, 152, 152);
  background-color: #fff;
  text-align: center;
  margin-right: 10px;
  transition: .3s ease-in-out;


}
.iconbox:hover{
  background-color: rgb(247, 235, 207);
}
.icon,img{
  padding: 5px;
}
.iconhead,h2{
  padding: 3px;
  font-size: 30px;

}
.icontext{
  font-size: 17px;
  line-height: 29px;
}
#imgboxMain{
  width: 1400px;
  height: 90vh;
  background: #cfc5c5;
  #imgboxMain,p{
    font-size: 17px;
    line-height: 28px;
    padding: 10px;
    
    text-align: center;
    
  }
}
.imgbox{
  width: 400px;
  border: 1px solid rgb(203, 187, 187);
  text-align: center;
  background-color: rgba(84, 144, 245, 0.2);
  float: left;
  margin-right: 10px;



}
.imges,img{
  padding: 4px;
  font-size: 10px;
  width: 70px;
  margin: 0 auto;


}
.imghead,h2{
  font-size: 28px;
  margin-top: 70px;

}
.imgtext,p{
  font-size: 17px;
  line-height: 28px;
}
button{
  width: 100px;
  border-radius: 8px;

background: rgb(84, 144, 245);
padding: 8px 10px;
margin: 10px;
border: none;
font-size: 15px;
}
#blog{
    width: 1400px;
  height: 90vh;
  background-color: rgb(255, 255, 255);


 }
 .blogsection{
  padding: 10px;
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 100px;
 }
 .imgconts>img{
float: left;
margin-right: 30px;
border-radius: 18px;
width: 300px;
 }
.blogconts,h2{
  font-size: 30px;
  padding: 10px;
  margin: 10px;

}
.blogconts,p{
  font-size: 16px;
  line-height: 25px;

  padding: 10px;
  margin: 10px;

}

#Takaa{
  background-color: #dddd;
  margin-top: 100px;
  text-align: center;
}
.takabox{
  width: 1400px;

 
  height: 200px;



}
.tkbox{
  border: 1px solid rgb(151, 142, 142);
  width: 250px;

  background-color: #fff;
  float: left;
margin-right: 20px;
  transition: .3s ease-in-out;
}
.tkbox:hover{
  background-color: rgb(198, 228, 214);
}
.inputcls,input{
  width: 400px;
  padding: 10px;
  border: none;
  font-size: 17px;

}
#newsletter{
  width: 1400px;
  height: 60vh;
  background-color: rgb(198, 228, 214);
  text-align: center;
  margin-top: 60px;
}